<h1>{{title}}</h1>
<br>
<h6>Her får du endpoints valgmuligheder:</h6>

<nav class="nav flex-column">
    <a class="nav-link" href="employees">Medarbejdere</a>
    <a class="nav-link" href="costumers">Konti</a>
    <a class="nav-link" href="employeesJSON">Medarbejdere JSON</a>
    <a class="nav-link" href="costumersJSON">Konti JSON</a>
    <a class="nav-link" href="costumersAdd">Tilføj konti</a>
    <a class="nav-link" href="costumersEdit">Rediger konti</a>


</nav>
<p id="date"></p>
