<h1>{{title}}</h1>
<br>
<h6>Her får du endpoints valgmuligheder:</h6>

<nav class="nav flex-column">
    <a class="nav-link" href="employees">Medarbejdere</a>
    <a class="nav-link" href="costumers">Konti</a>
    <a class="nav-link" href="employeesJSON">Medarbejdere JSON</a>
    <a class="nav-link" href="costumersJSON">Konti JSON</a>
</nav>
<!--
<nav>
    <ul>
        <li> <a class="nav-link" href="employees">Medarbejdere</a></li>
        <li> <a class="nav-link" href="costumers">Konti</a></li>
        <li></li>
        <li></li>
    </ul>
</nav>
-->
<p id="date"></p>
