<h1>{{title}}</h1>
<br>
<h6>Log ind for komme til banken:</h6>
<br>
<form name="login">
  <b>Brugernavn:</b> 
  <br>
  <input type="text" name="userid">
  <br>
  <br>
  <b>Kodeord:</b>
  <br>
  <input type="password" name="password"><br><br>
  <button type="button" class="btn btn-dark" onclick="check(this.form)">Login</button>
</form>

<p id="date"></p>